:root {
    /* variables */
    --c1: #fbf9fe;
    --c2: #02b6e7;
    --c3: #00699b;
}

body {
    /* pattern */
    --u: 4px;
    --gp: 50%/ calc(var(--u) * 16.9) calc(var(--u) * 12.8);
    background: 
        conic-gradient(from 122deg at 50% 85.15%, var(--c2) 0 58deg, var(--c3) 0 116deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 122deg at 50% 72.5%, var(--c1) 0 116deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 58deg at 82.85% 50%, var(--c3) 0 64deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 58deg at 66.87% 50%, var(--c1) 0 64deg, var(--c2) 0 130deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 238deg at 17.15% 50%, var(--c2) 0 64deg, #fff0 0 100%) var(--gp),
        conic-gradient(from 172deg at 33.13% 50%, var(--c3) 0 66deg, var(--c1) 0 130deg, #fff0 0 100%) var(--gp),
        linear-gradient(98deg, var(--c3) 0 15%, #fff0 calc(15% + 1px) 100%) var(--gp),
        linear-gradient(-98deg, var(--c2) 0 15%, #fff0 calc(15% + 1px) 100%) var(--gp),
        conic-gradient(from -58deg at 50.25% 14.85%, var(--c3) 0 58deg, var(--c2) 0 116deg, #fff0 0 100%) var(--gp),
        conic-gradient(from -58deg at 50% 28.125%, var(--c1) 0 116deg, #fff0 0 100%) var(--gp),
        linear-gradient(90deg, var(--c2) 0 50%, var(--c3) 0 100%) var(--gp);
}

.title {
    text-align: center;
    color: var(--c3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    display: inline;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 5px var(--c3);
    background-color: var(--c1);
}

h3, h2 {
    color: var(--c3);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sideBar {
    position: fixed;
    left: 0;
    top: 100px;
    height: 100%;
    width: 250px;
    padding-left: 20px;
    background-image: linear-gradient(to left, var(--c1), var(--c2));
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--c3);
    background-color: transparent;
    color: vqr(--c3);
    border: solid 3px;
    border-radius: 10%;
    border-color: var(--c3);
    cursor: pointer;
}

button:hover:enabled {
    background-color: var(--c3);
    color: var(--c1);
    border-color: var(--c1);
    box-shadow: 2px;
}

button:active {
    transform: translateY(0);
}

button:disabled,
button[disabled] {
    border: 1px solid black;
    background-color: grey;
    color: var(--c1);
    cursor: not-allowed;
}

input {
    height: 30px;
}

img {
    display: block;
    cursor: pointer;
    width: 400px;
    height: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    padding-left: 5px;
}

.centralBody {
    position: fixed;
    left: 310px; /*sidebar + padding*/
    padding-left: 20px;
    top: 100px;
    height: calc(100vh - 80px);
    width: calc(100% - 330px);
    overflow: auto;
    background-image: linear-gradient(to right, var(--c1), var(--c2));
}